body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    list-style: none; 
    background: rgb(250, 250, 250);
    color: #333;
}

legend h1 {
    padding: 10px;
    font-weight: 500;
    font-size: 150%;
    background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
    color: #fff;
    transition: 0.6s;
    text-transform: uppercase;
    background-size: 200%;
}

legend h1:hover {
    background-position: right;
}

li {
    font-size: 120%;
}

li input:hover {
    cursor: pointer;
}

button {
    margin-top: 100px;
}

@keyframes btnErr {
    0% {transform: translateX(-15%);background: rgb(231, 82, 82);color: white;}
    25% {transform: translateX(0%);background: rgb(231, 82, 82);color: white;}
    50% {transform: translateX(15%);background: rgb(231, 82, 82);color: white;}
    100% {transform: translateX(0%);background: rgb(231, 82, 82);color: white;}
}

.wrong {
    animation: btnErr 600ms;

}