ul {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    list-style: none; 
    background: rgb(250, 250, 250);
    color: #333;
}

legend h1 {
    font-weight: 500;
    font-size: 3rem;
    background: #333;
    color: aliceblue;
}

button {
    margin-top: 100px;
}

@keyframes btnErr {
    0% {transform: translateX(-25%);background: rgb(231, 82, 82);color: white;}
    25% {transform: translateX(0%);background: rgb(231, 82, 82);color: white;}
    50% {transform: translateX(25%);background: rgb(231, 82, 82);color: white;}
    100% {transform: translateX(0%);background: rgb(231, 82, 82);color: white;}
}

.wrong {
    animation: btnErr 750ms;

}